<dl class="colors_font colors_container"> 
  <dt class="color color__square_size "></dt>
    <dd class="color__name_container"><b> Dark Shade 100%</b> <br>#1F2041</br></dd>
  <dt class="color color__square_size"></dt>  
    <dd class="color__name_container"><b> Dark Shade 75%</b> <br>#1F2041</br></dd>
  <dt class="color color__square_size "></dt>
    <dd class="color__name_container"><b> Dark Shade 50%</b> <br>#1F2041</br></dd>
  <dt class="color color__square_size"></dt>  
    <dd class="color__name_container"><b> Dark Shade 25%</b> <br>#1F2041</br></dd>  
  <dt class="color color__square_size "></dt>
    <dd class="color__name_container"><b> Dark Shade 5%</b> <br>#1F2041</br></dd>
  <dt class="color color__square_size"></dt>  
    <dd class="color__name_container"><b> Purple</b> <br> #BC9CFF</br></dd>
  <dt class="color color__square_size"></dt>  
    <dd class="color__name_container"><b>  Green</b> <br>#6FCF97</br></dd> 