doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title colors_and_type
    link(rel="stylesheet" href="../scss/normalize.css")
    link(rel="stylesheet" href="../scss/fonts.css")
    link(rel="stylesheet" href="../scss/main.scss")
    link(rel="stylesheet" href="./colors_and_type_ui.scss")

  body
    p
      |страница колорс 