doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title colors_and_type
    link(rel="stylesheet" href="../scss/normalize.css")
    link(rel="stylesheet" href="../scss/fonts.css")
    link(rel="stylesheet" href="../scss/main.scss")
    link(rel="stylesheet" href="./colors_and_type_ui.scss")

  body
    div.pages-color-type__wrapper
      div.pages-color-type_colors__wrapper
        include ../components/colors/colors
      div.pages-color-type_type__wrapper  
        include ../components/type/type
      div.pages-color-type_logo__wrapper
        include ../components/logo/logo
         