doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title form_elements
    link(rel="stylesheet" href="../scss/normalize.css")
    link(rel="stylesheet" href="../scss/fonts.css")
    link(rel="stylesheet" href="../scss/main.scss")
    link(rel="stylesheet" href="./form_elements.scss")

  body
    div.pages-form_elements_wrapper    
      div.pages-form_elements_logo_wrapper
        include ../components/logo/logo
      div.pages-form_elements_text-field_default_wrapper
        include ../components/text-field/text-field 
        section.pages-form_elements_text-field_default_wrapper_section
          .pages-form_elements_text-field_default_wrapper_text1 Text Field
          .pages-form_elements_text-field_default_wrapper_text2  Default
        div.pages-form_elements_text-field_default_wrapper_input
        +text-field("Email") 
      div.pages-form_elements_text-field_hover_wrapper
        include ../components/text-field/text-field 
        section.pages-form_elements_text-field_default_wrapper_section
          .pages-form_elements_text-field_default_wrapper_text1 Text Field
          .pages-form_elements_text-field_default_wrapper_text2  Hover /Focus
        div.pages-form_elements_text-field_default_wrapper_input
        +text-field("This is pretty awesome", "hover") 
      div.pages-form_elements_4_wrapper 
      div.pages-form_elements_5_wrapper  
      div.pages-form_elements_6_wrapper 
      div.pages-form_elements_7_wrapper 
      div.pages-form_elements_8_wrapper 
      div.pages-form_elements_9_wrapper  
      div.pages-form_elements_10_wrapper 
      div.pages-form_elements_11_wrapper 
      div.pages-form_elements_12_wrapper 
      div.pages-form_elements_like_button_wrapper  
        include ../components/like_button/like_button  
      div.pages-form_elements_14_wrapper 
      div.pages-form_elements_15_wrapper 
      div.pages-form_elements_16_wrapper 
      div.pages-form_elements_17_wrapper  
      div.pages-form_elements_18_wrapper 
      div.pages-form_elements_19_wrapper 
      div.pages-form_elements_20_wrapper 
      div.pages-form_elements_21_wrapper  
      div.pages-form_elements_22_wrapper 
      div.pages-form_elements_23_wrapper 
      div.pages-form_elements_24_wrapper 
      div.pages-form_elements_25_wrapper  
      div.pages-form_elements_room_details_wrapper 
        include ../components/room_details/room_details
        //+room_details({'comfort':'Шумопоглощающие стены', 'usable':'Окно в каждой из спален', 'cozy':'Номер оснащён камином'})
        +room_details({'comfort':'Шумопоглощающие стены', 'usable':'Окно в каждой из спален'})
      div.pages-form_elements_27_wrapper 
      
    