doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title TOXIN
    link(rel="stylesheet" href="../scss/normalize.css")
    link(rel="stylesheet" href="../scss/fonts.css")
    link(rel="stylesheet" href="../scss/main.scss")
    link(rel="stylesheet" href="./index.scss")
    

  body  

    p.p   
      | The pipe always goes at the beginning of its own line, not counting indentation.

//- link(rel="stylesheet" href="../scss/main.scss")