<dl class="types__contained">
  <dt class="type-teg__contained type-teg__font ">h1</dt>
  <dd class="type-name__font type-name__contained">This one is the sub-section or widget title</dd>
  <dt class="type-teg__contained type-teg__font ">h2</dt>
  <dd class="type-name__font type-name__contained">Next one is the item title inside widgets</dd>
  <dt class="type-teg__contained type-teg__font ">h3</dt>
  <dd class="type-name__font type-name__contained">This is a label or CTA text</dd>
  <dt class="type-teg__contained type-teg__font "> Body</dt>
  <dd class="type-name__font type-name__contained">This is the body text which is used for most of the design, like paragraphs, lists, etc.</dd> 
</dl>
    
