.types__contained {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 37px 336px;
  row-gap: 50px;
  column-gap: 28px;
  align-items: start;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.type-teg__contained {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.type-name__contained {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0px;
}
.type-name__contained:nth-of-type(4) {
  width: 301px;
}
.type-name__font:nth-of-type(1) {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1f2041;
  letter-spacing: 0.02em;
}
.type-name__font:nth-of-type(2) {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
  letter-spacing: 0.021em;
}
.type-name__font:nth-of-type(3) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  letter-spacing: 0.02em;
}
.type-name__font:nth-of-type(4) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.type-teg__font {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.25);
  text-transform: uppercase;
}

.type-teg__font:nth-of-type(1) {
  font-size: 24px;
  line-height: 29px;
}
.type-teg__font:nth-of-type(2) {
  font-size: 19px;
  line-height: 23px;
}
.type-teg__font:nth-of-type(3) {
  font-size: 12px;
  line-height: 15px;
}
.type-teg__font:nth-of-type(4) {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
