@import "./variables.scss";

// главный файл стилей проекта
html { //  значения для корневого элемента html (будут по умолчанию для всех остальных)
  font-family: $font_family_body, Arial, sans-serif; //семейство шрифта проекта плюс дополнительные шрифты без засечек 
  font-weight: normal; //поскольку эта версия шрифта не является полужирной
  font-style: normal; // поскольку эта не курсивная версия шрифта
  font-size: 10px; //это будет 1rem
  color:$color_dark_dark; // цвет шрифта темный
}
html, 
body {  // убираем возможные отступы
  margin: 0;
  padding: 0;
}
