// FONTS переменные для шрифтов 
// создала 4 переменных, так как возможно введение отдельного шрифта для body или h1
$font_family_body: Montserrat, Arial, sans-serif; // шрифт для body
$font_family_3: Montserrat, Arial, sans-serif; // семейство шрифта для h3
$font_family_2: Quicksand, Arial, sans-serif; // семейство шрифта для h3
$font_family_1: Quicksand, Arial, sans-serif; // семейство шрифта для h1

$font_size_body_small: 1rem; // размер шрифта для body маленького
$font_size_body: 1.4rem; // шрифт для body
$font_size_3: 1.2rem; // шрифт для h3
$font_size_2: 1.9rem; // шрифт для h2
$font_size_1: 2.4rem; // шрифт для h1

//COLORS переменные для цветов расположены в том же порядке что и на макете UI-kit
$color_dark_dark:#1f2041; // темный 
$color_dark_almost: rgba(31, 32, 65, 0.75); // почти темный
$color_dark_medium: rgba(31, 32, 65, 0.5); // средний
$color_dark_light: rgba(31, 32, 65, 0.25); // светлый
$color_dark_light_light: rgba(31, 32, 65, 0.1); // светлo-светлый
$color_dark_extra_light: rgba(31, 32, 65, 0.05); // очень светлый
$color_primary:   #bc9cff;
$color_secondary: #6fcf97;

