// FONTS переменные для шрифтов 
// создала 4 переменных, так как возможно введение отдельного шрифта для body или h1
$font_family_body: Montserrat; // шрифт для body
$font_family_3: Montserrat; // семейство шрифта для h3
$font_family_2: Quicksand; // семейство шрифта для h3
$font_family_1: Quicksand; // семейство шрифта для h1

$font_size_body_small: 1rem; // размер шрифта для body маленького
$font_size_body: 1.4rem; // шрифт для body
$font_size_3: 1.2rem; // шрифт для h3
$font_size_2: 1.9rem; // шрифт для h2
$font_size_1: 2.4rem; // шрифт для h1

